.blogs-btns {
    display: flex;
    justify-content: flex-end;
    width: 90%;
}

.blogs--grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 40px;
    padding: 5%;
}

.blogs--grid--items {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 6px;
}

.blogs--list--items {
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 6px;
}

.blog-img {
    height: 60%;
    width: 100%;
}

.card--time {
    display: flex;
    padding-top: 5px;
}

.card--time--head {
    background: black;
    color: white;
    padding: 4px;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.card--times {
    padding: 4px;
    margin-left: 10px;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.blog--desc--section {
    padding: 5%;
}

.card--heading {
    width: 90%;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 139%;
}

.card--head--desc {
    width: 90%;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.6;
}

.card--btns {
    background-color: transparent;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding: 1%;
    margin-top: 5%;
}

.blog-pages {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.blog-pages-div {
    padding: 1%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    margin: 1%;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 2px;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}

.div-back {
    background: #FFFF00;
}

.card--save {
    display: flex;
    width: 60%;
    justify-content: flex-end;
}

.card--save--img {
    padding-left: 4%;
}

.list--view {
    display: flex;
    flex-direction: column;
    padding-top: 3%;
    align-items: center;
}

.name-photo {
    display: flex;
}

.real-photo-name {
    padding-top: 20px;
    padding-left: 15px;
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    letter-spacing: 0.02em;
}

.about-blog {
    display: flex;
    padding-top: 2%;
}

.blog-about {
    padding-left: 2%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.single-list {
    padding-top: 5%;
}

.line-blog {
    width: 65%;
    margin: auto;
    margin-top: 5%;
}

.list-contents {
    display: flex;
    width: 70%;
    padding-left: 17.5%;
}

.content-types {
    margin-right: 3%;
    margin-top: 3%;
    border: 1px solid #000000;
    padding: 0.5%;
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 48px;
}