.creator-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.creator-details {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 25%;
    border-right: 2px solid black;

}

.details-bar {
    width: 90%;
    background-color: black;

}

.creator-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 25px;
    margin-top: 15px;
}

.creator-red {
    color: #BC312E;
}

.creator-dp {
    /* position: absolute; */
    z-index: -1;



}

.creator-dp-container {
    display: flex;
    flex-direction: column;
    margin-top: 70px;

}

.like-btn {
    /* justify-self: baseline; */
    background: #fff;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
    width: 54px;
    height: 54px;
    margin-top: -25%;
    margin-left: 75%;

}

.creator-name {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 43px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 25px;

}

.creator-ratings {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}

.creator-star {
    width: 19.25px;
    height: 18.4px;
    margin: 0 5px;
}

.creator-rating {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    margin-left: 10px;

}

.creator-reviews {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 25px;
}

.creator-website {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #5400C1;
    margin-bottom: 25px;

}

.creator-socials {
    margin-bottom: 50px;
}

.creator-social-icons {
    margin: 0 13px;
}

.creator-message-btn {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    padding: 6px 50px;
    border-radius: 12px;
    margin-bottom: 24px;
}

.creator-menu {
    width: 80%;
}

.creator-menu-btns-container {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.creator-menu-btn {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    /* identical to box height */


    color: #444444;
    border: none;
    background: #fff;
    padding: 3px 30px;
    margin: 0 35px;
}

.creator-btn-active {
    background: #FFFFA8;
    border-radius: 10px;
    color: #000000;
}

.creator-about-container {
    display: flex;
    flex-direction: row;

}

.creator-about-text {
    margin: 60px;
}

.creator-about-heading {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */

}

.creator-about-heading h2 {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 41px;
    width: fit-content;
    margin-right: 8px;
}

.creator-about-heading div {
    width: 60%;
    height: 1px;
    border-top: 1px solid #000;

}

.creator-about-description {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;

    color: #444444;
    margin-bottom: 70px;
}

.creator-about-cards-container {
    width: 100%;
    margin-right: 10%;
    margin-top: 5%;
}

.creator-card {
    border: 1px solid #C6C6C6;
    border-radius: 20px;
    padding: 25px;
    margin-bottom: 25px;
}

.creator-card-heading {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    margin-bottom: 16px;
}

.creator-service-grid {
    display: grid;
    grid-template-columns: auto auto;
}

.creator-service-name {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
}

.creator-price {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
}

.creator-address {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

}

.creator-address div {
    margin-left: 20px;
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.creator-contact-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.creator-contact-btn {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    padding: 10px 20px;
    margin-top: 25px;
}

.creator-contact-btn img {
    margin-right: 12px;
}

.creator-portfolio-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px 25px;
    margin: 8% 5%;
}

.creator-portfolio-card {
    width: 100%;
    height: 248px;
    background: #eaeaea;
    border-radius: 20px;

}


.creator-reviews-main {
    display: flex;
    margin-top: 4%;
}

.creator-reviews-left {
    width: 65%;
}

.creator-reviews-right {
    margin-top: 1.5%;
    width: 30%;
}

.creator-review-card {
    background: #FFFEF8;
    border: 1px solid #DCDCDC;
    border-radius: 20px;
    /* width: 65%; */
    margin: 2% 3%;
    padding: 2%;
}

.creator-review-card-header {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-right: 0;

}

.creator-review-card-name-time {
    width: 72%;
    margin: 0 3%;
}

.creator-review-card-name-time h3 {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 0;
}

.creator-review-card-name-time p {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.creator-review-platform {
    height: 25px;
}

.creator-review-dp {
    height: 64px;
    width: 64px;
}

.creator-review-card-subtext {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.rating-distribution {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;

}

.rating-distribution p {
    margin: 0;
}

.rating-no {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
}

.no-of-rating {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #444444;
}

.rating-bar {
    height: 14px;
    width: 60%;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
}
.rating-bar-filled{
    margin: 1px;
    height: 12px;
    width: 60%;
    background: #FFFF00;
    border-radius: 7px;
}
.r5{
 width: 60%;
}
.r4{
    width: 80%;
}
.r3{
    width: 50%;
}
.r2{
    width: 40%;
}
.r1{
    width: 30%;
}