#customers {
    width: 100%;
    height: 686px;
    left: 0px;
    margin-top: 50px;
    background: url(../../images/TOS_back.svg);
}

.customers-style {
    display: flex;
}

.customers-cointainer {
    margin-top: 100px;
    margin-left: 7%;
}

.customers-image-div {
    margin-top: 7%;
    margin-right: 15%;
}

.customers-image {
    width: 130%;
}

.customers-cointainer {
    margin-top: 100px;
    margin-left: 7%;
}

.customers-heading {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-size: 76px;
    letter-spacing: 0.02em;
    line-height: 100%;
    color: #545454;
}

.customers-subheading {
    width: 80%;
    margin-top: 46px;
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 43px;
    color: #000000;
}

.main-input {
    font-size: 26px;
    box-sizing: border-box;
    position: absolute;
    width: 35%;
    height: 60px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 12px;
}

.customers-input {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-input-btn {
    font-family: 'Cormorant';
    /* box-sizing: border-box; */
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    background: #FFFF00;
    border: 1px solid #000000;
    border-radius: 12px;
    padding: 15px 50px;
}

.main-input-btn:hover {
    background: black;
    color: white;
    cursor: pointer;
}

.customer-spon {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.spon-grp {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    padding: 5%;
    justify-content: space-evenly;
}

.story {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 135px;
}

.story-head {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 100%;
    margin-bottom: 40px;

}

.story-desc {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    width: 87%;
    text-align: center;
    /* margin-left: 210px;
    margin-right: 210px; */
}

.color-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 170px;
}

.color-bg-div {
    display: flex;
    margin: 40px;
}

.color-bg1 {
    /* width: 80%; */
    height: 20%;
}

.phonebg {
    /* position: absolute; */
    /* height: 100%; */
}

.bg-div {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.color-head-div {
    display: flex;
}

.color-gap {
    margin-left: 300px;
}

.color-text {
    display: flex;
    flex-direction: column;
    margin: 16px 55px;
}

.color-head {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 43px;
    margin-bottom: 30px;
    color: #000000;
}

.color-desc {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 300;
    font-size: 34px;
    line-height: 46px;
    width: 80%;
    /* width: 400px; */
    color: #000000;
}

.color-btn {
    display: flex;
    justify-content: center;
    background: #FFFF00;
    border: 1px solid #000000;
    border-radius: 35px;
    /* width: 220px; */
    width: 50%;
    margin-top: 40px;
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    padding: 15px 0;

    color: #000000;
}

.color-btn:hover {
    background: black;
    color: white;
}

.customer-heading {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 600;
    font-size: 92px;
    line-height: 111px;
    padding: 5%;
}

.customer-forms {
    display: flex;
}

.slider-div {
    width: 70%;
    padding-bottom: 5%;
    padding-right: 5%;
}

.form-data {
    padding: 5%;
}

.slider-head {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 300;
    font-size: 49px;
}