.explore-head {
    margin-top: 7%;
}

.explore-heading {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    color: #545454;
    width: 102%;
}

.explore-btn {
    height: 80px;
    margin-top: 15%;
    box-sizing: border-box;
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    display: flex;
    color: #000000;
    align-items: center;
    justify-content: space-between;
}

.input-explore {
    border-radius: 40px;
    height: 45px;
    width: 100%;
    border: 1px solid #000000;
}

::placeholder {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    padding-left: 50px;
}

.input-search {
    height: 30px;
    width: 30px;
    margin-bottom: 30%;
}

.input-search-btn {
    background-color: #FFFF00;
    height: 50px;
    padding: 2%;
    width: 20%;
    border-radius: 40px;
}

.explore-text {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    padding: 5%;
    line-height: 78px;
    color: #000000;
}

.explore-text-btn {
    display: flex;
    justify-content: center;
    width: 85%;
    margin: auto;
    padding-top: 7%;
    margin-bottom: 5%;
}

.exploreimg {
    width: 80%;
}

.Community {
    width: 80%;
    margin: auto;
}

.explore-types {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
    padding-right: 1%;
}

.explore-input {
    width: 300px;
    height: 50px;
    border: 1px solid #7E7E7E;
    border-radius: 34px;
}

.explore-btns {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.explore-btn-img {
    width: 50%;
    background: none;
    align-items: center;
    margin: 3%;
    font-family: 'Darker Grotesque';
    font-weight: 500;
    font-size: 24px;
    border: 1px solid #7E7E7E;
    border-radius: 34px;
    align-items: center;
}

.btn-back {
    background-color: #FFFF00;
}

.explore-grid-img {
    padding: 5px;
}

.cone-btn {
    background: transparent;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    align-items: center;
    border-radius: 15px;
    margin-left: 40px;
    margin-bottom: 5px;
}

.explore-cards {
    display: flex;
    justify-content: space-evenly;
}

.explore-card {
    border: 2px solid #000000;
    border-radius: 15px;
}

.image-expo{
    
}

.exploremen{
    width: 100%;
}

.explore-card-head {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
}

.explore-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7%;
}

.explore-card-subhead {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.explore-card-location {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.explore-card-prices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2%;
    padding-bottom: 2%;
}

.price {
    font-weight: 500;
    font-size: 20px;
}

.explore-hire-btn {
    width: 50%;
    background: #FFFF00;
    border: 1px solid #000000;
    border-radius: 35px;
    margin-top: 20px;
    padding: 3%;
    font-family: 'Cormorant';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.rightarrow{
    height: 1%;
    width: 1%;
    margin: auto;
}

.rightarrow:hover{
    cursor: pointer;
}

.hire-explore {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.reviews {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    color: #BC312E;
    padding: 5px;
    margin-top: -1%;
    z-index: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    border-radius: 7px;
}

.review-img {
    display: flex;
    justify-content: flex-end;
    width: 90%;
}

.star {
    height: 1%;
    margin-right: 3px;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  z-index: 10;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.swiper-button-next img,
.swiper-button-prev img {
  width: 20px;
  height: 20px;

}

