.leader-text {
    display: flex;
    text-align: center;
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    padding: 80px;
    /* width: 80%; */
    margin: 5% auto;
    color: #000000;
}

.leader-head {
    display: flex;
    justify-content: center;
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    text-align: center;
    color: #000000;
}

.grid-leader-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 30px;
    justify-content: center;
    margin-bottom: 10%;
}

.grid-leader-item {
    padding-top: 100px;
    margin: 20px;
}

.leader-headings {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 43px;
    color: #000000;
    margin-top: 30px;
}

.leader-image {
    /* height: 200px; */
    height: 100%;

}

.leader-title-text {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
}