.Vision--content {
    margin: auto;
    width: 25%;
    font-size: 70px;
}


.Grid--system {
    font-size: 38px;
    font-weight: 400;
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    gap: 15% 15%;
    font-family: 'cormorant';
    color: #BC312E;
    margin-bottom: 15%;
}

.Grid--content {
    font-size: 24px;
    font-weight: 400;
    font-family: 'Darker Grotesque';
    font-style: normal;
    color: black;
}

.Vision--font {
    width: 80%;
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    margin-bottom: 10%;
}

